@use "../../assets/styles/variables" as *;

.select-form {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__label {
    padding: 10px;
  }

  &__select {
    background-color: $color-white;
    border-radius: 5px;
    padding: 5px;
  }
}
