@use "../../assets/styles/variables" as *;

.ticket {
  &__forms {
    width: 150px;
    margin: auto;
  }
}

.ticket-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 30px;
}

// @media screen and (min-width: 768px) {
//   .ticket {
//     padding: 30px 100px;
//   }
// }
