@use "./assets/styles/variables" as *;
@use "./components/Header/Header.scss";
@use "./components/EmployeeCard/EmployeeCard.scss";
@use "./components/EmployeesContainer/EmployeesContainer.scss";
@use "./components/Select/Select.scss";
@use "./components/Filter/Filter.scss";

.app {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: $color-grey;
}
