@use "./assets/styles/variables" as *;
@use "./components/Nav/Nav.scss";
@use "./components/TicketCard/TicketCard.scss";
@use "./components/TicketCardsContainer/TicketCardsContainer.scss";
@use "./components/Select/Select.scss";
@use "./components/Filter/Filter.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 0 15%;
  }
}
