@use "./assets/styles/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $color-grey;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 0 15%;
  }
}
