@use "../../assets/styles/variables" as *;

.nav {
  text-align: center;
  background-color: $color-black;
  height: 80px;
  padding: calc((80px - 2.5rem) / 2);
  position: relative;

  &__title {
    background-color: $color-black;
    color: $color-white;
    font-size: 2.5rem;
  }

  &__link {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: $color-white;
    padding: 5px 10px;
    border-radius: 10px;
    width: 80px;
    text-decoration: none;
    font-size: 1.2rem;
    color: $color-black;
  }
}
